<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Down for Maintenance</title>
  </head>
  <body>
    <h1>We'll be right back!</h1>
    <p>The site is currently being updated.</p>
    {{> footer}}
  </body>
</html>
